@media screen and (max-width: 1440px) {
  .why-us img  {
    right: 0px;
  }
  .form-section__up-line {
    top: -50px;
  }

  .to-up {
    width: 49px;
    height: 49px;
    border: 1px solid;
    border-radius: 8px;
    top: auto;
    bottom: 20px;
    left: 20px;
  }
}

@media screen and (max-width: 1400px) {
  .box-container {
    max-width: 1280px;
  }
  .tab_content {
    grid-template-columns: repeat(3, 1fr);
  }
  .product__card {
    max-width: 100%;
    width: auto;
  }
  .product__card img {
    max-width: 100%;
  }

}

@media screen and (max-width: 1366px) {
  
}

@media screen and (max-width: 1280px) {
  .box-container {
    padding: 0px 15px;
    width: auto;
  }
}

@media screen and (max-width: 1200px) {
  .header-bottom__address {
    display: none;
  }
  .portfolio__box img:not(.box-text__adderss img) {
    max-width: 550px;
  }
}

@media screen and (max-width: 1024px) {
  .catalog__wrap {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 30px;
  }
  .portfolio__box img:not(.box-text__adderss img) {
    max-width: 350px;
  }
  .footer_line-up {
    top: -30px;
  }
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__bottom ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__logo {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__logo img {
    margin: 0px 0px 20px;
  }
  .footer__bottom ul li {
    margin: 5px 0;
  }
  .form-section__up-line {
    top: -10px;
  }
}


@media screen and (max-width: 880px) {
  .main-header__phones {
    display: flex;
    flex-direction: column;
  }

  .header__button-menu {
    display: block;
    flex-direction: column;
  }

  .header__mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: var(--white-color);
    overflow: auto;
    padding: 70px 30px 40px;
  }

  .header__mobile-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
  }

  .header__nav_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: var(--font-Semi-bold);
  }

  .header__nav_item_mobile {
    text-align: center;
  }

  .navigation .bg-wrap {
    display: flex;
    justify-content: space-between;
  }

  .navigation .bg-wrap ul{
    display: none;
  }

  .green-btn_header {
    display: none;
  }


  .main-section {
    height: max-content;
  }
  .cadr__wrap {
    flex-direction: column;
    
  }
  .cadr__wrap .card__modify {
    max-width: 100%;
    width: -webkit-fill-available;
    margin-right: 0px;
  }

  .catalog {
    padding-top: 80px;
  }

  .tab_content {
    grid-template-columns: repeat(2, 1fr);
  }
  .why-us__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .tabs li {
    margin: 0px 15px;
  }
  .form-section img,
  .why-us img {
    display: none;
  }
  .form-section .forma {
    position: relative;
    right: 0px;
  }
  .portfolio__box {
    height: max-content;
    flex-direction: column;
  }
  .portfolio__box img:not(.box-text__adderss img) {
    max-width: inherit;
    width: auto;
    height: 100px;
  }
  .portfolio__box-text {
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    border-top: 0;
    border-left: 1px dashed #b8b8b8;
    border-bottom: 1px dashed #b8b8b8;
    border-right: 1px dashed #b8b8b8;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .to-up {
    width: 39px;
    height: 39px;
    border: 1px solid;
    border-radius: 8px;
    top: auto;
    bottom: 10px;
    left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .header-top__nav {
    display: none;
  }
  .header-bottom__tel {
    display: none;
  }
  .catalog__wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
  }
  .catalog__wrap .card__name {
    font-size: 25px;
  }
  .tab_content,
  .why-us__wrap  {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .tab_container {
    margin-top: 20px;
  }
  .top-seller-tabs {
    padding: 10px 0;
  }
  .tabs li a {
    font-size: 14px;
  }
  .form-section .forma__wrap {
    align-items: center;
    flex-direction: column;
  }
  .form-section .forma__wrap .red-btn {
    margin-top: 20px;
    margin-left: 0px;
  }
  .form-section .block-form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .form-section {
    height: max-content;
  }
  .modal-wrap {
    padding: 30px;
  }
  .form-section .forma input[type=tel]{
    max-width: 198px;
  }
  .form-section .item-input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 30px;
  }
  .footer_line-up {
    top: -10px;
  }
}

@media screen and (max-width: 550px) {
  .btn-contaiter {
    flex-direction: column;
    align-items: center;
  }
  .main-section__title {
    font-size: 30px;
  }
  .main-section__subtitle {
    margin: 10px 0 37px;
    font-size: 25px;
  }
  .catalog__title {
    font-size: 30px;
  }

  .tabs {
    flex-direction: column;
  }
  .tabs li {
    margin: 10px 0px;
  }
}